<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
      <a [routerLink]='["/vehicles"]' (click)='collapse()'>
        <span class='glyphicon glyphicon-th-list'></span> Vehicles
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/vehicles/new"]' (click)='collapse()' *ngIf="isLoggedIn()">
        <span class='glyphicon glyphicon-plus'></span> New Vehicle
      </a>
    </li>
  </ul>
</div>
